.post {
	background-color: #fff;
	padding: 10px 10px 0;
	background: #FDFEFB;
	border-radius:4px;
	border:1px solid #D7D8C8;
	overflow: auto;
	overflow-y: hidden;
	margin-top: 15px;
}

.post h4 {
	margin: 0;
}

.post h4 .date {
	float: right;
}